<!DOCTYPE html>
<html>
  <head>
    <title>RecipeDp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #B83539;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">RECIPES</a>

  <div class="collapse navbar-collapse-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/recipes">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/recipes/new">New Recipe</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/pages/about">About<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  <body>
    <body>

    <div class="bg">

    <p class="py-5 text-center"></p>

</body>
    <%= yield %>
  </div>
  </body>
</html>
